.header {
  position: fixed;
  width: 100%;
  z-index: 999;
}
.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  box-shadow: 0 5px 50px black;
  z-index: 2;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.navigation {
  position: relative;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  z-index: 3;
}

.logo img {
    width: 60px;
    height: 60px;
}

.list {
  display: flex;
  margin-right: 10px;
  position: relative;
  z-index: 2;
}
.list li {
  list-style: none;
  margin-left: 20px;
}
.list li a {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
}
.list li a:hover {
  color: white;
  background: black;
}
.burger {
  display: none;
}

@media screen and (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }
  .burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }
  .burger span {
    position: absolute;
    background-color: black;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.2s linear;
  }
  .burger:before,
  .burger:after {
    content: "";
    background-color: black;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.2s linear;
  }
  .burger:before {
    top: 0;
  }
  .burger:after {
    bottom: 0;
  }

  .burger.active span {
    transform: scale(0);
  }

  .burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }

  .burger.active:after {
    transform: rotate(-45deg);
    top: 9px;
  }

  .nav-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background: rgb(212, 212, 212);
    transition: all 0.2s linear;
  }
  .nav-menu.active {
    right: 0;
  }

  .list {
    padding: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .list li {
    margin-bottom: 20px;
  }
  .list li a {
    font-size: 36px;
    padding: 10px;
  }
}
